.cart {
  margin: 0px auto;
  margin-top: 90px;
  padding: 30px;
  overflow: hidden;
  max-width: 800px;
  min-height: 100px;
  text-align: center;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.cart_container {
  display: flex;
  text-align: start;
  align-items: center;
  justify-content: space-between;
  padding: 30px;
  margin: 30px;
  border-radius: 15px;
}

.cart_container_body {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.cart_image > img {
  height: 100px;
  width: 100px;
  object-fit: contain;
}
.cart_desc {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.cart_price {
  font-size: 1.3rem;
}

.cart_name {
  font-size: 1.3rem;
}

.cart_totalPrice {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding: 60px 120px;
  margin: 30px;
  font-weight: bold;
  width: 100%;
  border-radius: 15px;
  border: 1px solid pink;
}

.cart_quantity > input {
  width: 50px;
}

.cart_button {
  padding: 18px;
  border: none;
  border-radius: 12px;
  color: antiquewhite;
  background-color: rgb(128, 0, 0);
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.cart_button:hover {
  background-color: rgba(128, 0, 0, 0.7);
}

@media (max-width: 700px) {
  .cart_totalPrice,
  .cart_container_body,
  .cart_container {
    flex-direction: column;
  }
}
