.container {
  display: flex;
  justify-content: space-between;
  padding: 12px 30px;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  z-index: 9;
}

.container li {
  list-style: none;
}

.container li a {
  color: whitesmoke;
  text-decoration: none;
}
.links {
  display: flex;
  justify-content: space-between;
}

li {
  padding: 10px;
}

.links li a:hover,
.home li a:hover {
  color: purple;
}
